:host {
  display: flex;
  flex-direction: column;

  .cancel {
    color: #5061D0;
  }

  .delete {
    background-color: #E53F28;
    color: white;
  }

  .cancel-x-container {
    display: flex;
    justify-content: flex-end;

    .cancel-x {
      padding: 10px;
      cursor: pointer;
    }
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }

  .mat-mdc-dialog-title::before {
    height: 0px;
  }

  .content {
    display: flex;
    justify-content: center;
    .sure {
      width: 60%;
      text-align: center;
    }
  }
}
