{{ isRecording }}
@if (!isRecording) {
<button #record class="start-recording btn-primary btn-lg" [style.top.px]="top" [style.left.px]="left">
  <svg class="record-svg" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle (click)="startRecording()" class="record-circle" cx="30" cy="30" r="30" fill="white" />
    <circle (click)="startRecording()" class="record-circle" cx="30" cy="30" r="14" fill="#FF0000" />
  </svg>
</button>
} @if(isRecording) {

<button class="stop-recording btn-warning btn-lg" (click)="stopRecording()" [style.top.px]="top" [style.left.px]="left">
  Stop Recording
</button>
}
