:host {
  display: flex;

  .start-recording {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 160px;
    height: 40px;
    border-radius: 100px;
    background-color: #000000;
    opacity: 60%;

    .record-svg {
      width: 75%;
      height: 75%;

      .record-circle {
        cursor: pointer;
      }
    }
  }
  .stop-recording {
    display: flex;
    flex: 1 0 100%;
    position: absolute;
    width: 160px;
    height: 40px;
    border-radius: 100px;
    background-color: #000000;
    opacity: 60%;

    .stop-recording-svg {
      display: flex;

      .circle {
        display: flex;
      }
      .rect {
        display: flex;
      }
    }

    .progress-bar {
      display: flex;
      align-items: center;
      // justify-content: center;
      // background-color: red;
      flex: 1 1 50%;

      .percent {
        display: flex;
        background-color: #5061D0;
      }
    }
  }
}
