:host {
  display: flex;
  flex: 1 0 70%;

  .video-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 70%;

    .video {
      display: flex;
      background: linear-gradient(#2B2B2B, #000000) ;
      padding: 20px;
    }
  }
}
